html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
	height: 100%;
}
#Mei {
	color: #ff3c00;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
 }
 
 .carousel-caption {
    top: 40%;
    bottom: auto;
    text-transform: uppercase;
}

.jumbotron {
	color: white;
}
